! Old config
!xterm*selectToClipboard: true
!xterm*font:              *-fixed-*-*-*-10-*
!xterm*background:black
!xterm*foreground:white

! Properties
XTerm.termName: xterm-256color
XTerm.vt100.selectToClipboard: true
XTerm.vt100.saveLines: 4096

XTerm.vt100.locale: false
XTerm.vt100.utf8: true

! Colors
!XTerm.vt100.background: black
XTerm.vt100.background: #222436
XTerm.vt100.foreground: white

! Font
XTerm.vt100.faceName: JetBrains Mono:style=Bold:size=9:antialias=true
XTerm.vt100.renderFont: true

! X11
Xcursor.size: 16
!*dpi: 125
!Xft.dpi: 125
